@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playpen: var(--font-playpen-sans);
  --font-fredoka: var(--font-fredoka);
  --font-ubuntu: var(--font-ubuntu);


  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-dark-blue: var(--dark-blue);
  --color-custom-gray: var(--custom-gray);
  --color-custom-yellow: var(--custom-yellow);
  --color-custom-beigh: var(--custom-beigh);
  --color-custom-light-gray: var(--custom-light-gray);
  --color-custom-light-yellow: var(--custom-light-yellow);
  --color-custom-dark-green: var(--custom-dark-green);
  --color-custom-mint-green: var(--custom-mint-green);
  --color-custom-green: var(--custom-green);


  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  /* --background: oklch(100% 0.00011 271.152); */
  --background: #f7f5f1;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* --primary: oklch(0.208 0.042 265.755); */
  --primary: #0666EE;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --dark-blue: #0F172A;
  --custom-gray: #656565;
  --custom-yellow: #FFEC00;
  --custom-beigh: #ecdfbf;
  --custom-light-gray: #ebe9e5;
  --custom-light-yellow: #FFFBCC;
  --custom-dark-green: #1A7137;
  --custom-mint-green: #DBFCE7;
  --custom-green: #07AB5B;

  --navbar-height: 70px;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  /* --primary: oklch(0.929 0.013 255.508); */
  --primary: #0753bd;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --dark-blue: #0F172A;
  --custom-gray: #8a8989;
  --custom-yellow: #FFEC00;
  --custom-beigh: #F8ECCF;
  --custom-light-gray: #a8a8a5;
  --custom-light-yellow: #FFFBCC;
  --custom-dark-green: #1A7137;
  --custom-mint-green: #DBFCE7;
  --custom-green: #07AB5B;
}

/* === CUSTOM COLOR THEME === */
@theme {
  /* Extended Gray Scale */
  /* --color-gray-900: #050505;
  --color-gray-800: #141414;
  --color-gray-700: #212328;
  --color-gray-600: #30333A;
  --color-gray-500: #9095A1;
  --color-gray-400: #CCDADC; */

  /* Vibrant Colors */
  --color-blue-600: #5862FF;
  --color-yellow-400: #FDD458;
  --color-yellow-500: #E8BA40;
  --color-teal-400: #0FEDBE;
  --color-red-500: #FF495B;
  --color-orange-500: #FF8243;
  --color-purple-500: #D13BFF;

  --color-primary-100: #F7F7FF;

  --color-hover-mask: #e7e6e2;
}


@layer base {
  * {
    @apply border-border outline-ring/50 p-0 m-0 box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  .container {
    @apply mx-auto max-w-7xl px-4 md:px-6 lg:px-8
  }

  .home-main {
    @apply min-h-dvh font-playpen
  }

  .home-main-wrapper {
    @apply min-h-dvh flex flex-col justify-center items-center
  }

  .header {
    @apply z-50 h-(--navbar-height) bg-background/90 sticky top-0 left-0 right-0 border-b-2 border-black max-w-dvw;
  }

  .header-wrapper {
    @apply flex h-full justify-between items-center px-6 py-4 text-primary max-w-7xl;
  }

  .header-logo {
    @apply h-8 w-auto cursor-pointer hover:opacity-90
  }

  .test-red {
    @apply border-2 border-red-600
  }

  .test-green {
    @apply border-2 border-green-600
  }

  .header-link-text-grp {
    @apply font-bold text-gray-800 flex gap-6 max-lg:gap-3 items-center max-lg:flex-col p-3
  }

  .header-link-text {
    @apply lg:relative after:content-[''] lg:after:absolute lg:after:left-0 lg:after:-bottom-2 lg:after:bg-current lg:after:h-[3px] lg:after:w-full lg:after:scale-x-0 lg:after:origin-left lg:after:transition-transform lg:after:duration-400 lg:hover:after:scale-x-100 max-lg:hover:bg-custom-beigh cursor-pointer max-lg:py-2 max-lg:px-4 max-lg:w-full max-lg:rounded-md max-lg:text-center
  }

  .header-left {
    @apply flex gap-10 items-center
  }

  .header-search {
    @apply cursor-pointer p-2.5 rounded-full hover:bg-hover-mask transition-colors duration-200
  }

  .header-search-wrapper {
    @apply relative
  }

  .header-search-icon {
    @apply transition-transform duration-200 origin-[65%_50%] text-black
  }

  .search-dot-wrapper {
    @apply absolute size-4 rounded-full top-[3px] left-[2.9px] overflow-hidden
  }

  .search-dot {
    @apply size-2 rounded-full bg-red-500 translate-x-3.5 -translate-y-1 transition-transform duration-200
  }

  .header-right {
    @apply flex max-lg:gap-0 gap-4 items-center
  }

  .header-icons-grp {
    @apply flex gap-2 border-r-2 border-black
  }

  .header-right-seperator-wrapper {
    @apply h-6.5 mr-4 bg-black w-[3px]
  }

  .sign-in-text {
    @apply truncate
  }

  .side-drawer {
    @apply lg:hidden
  }

  .side-drawer-sign-in-wrapper {
    @apply flex flex-1 items-end justify-center p-4
  }

  .side-drawer-sign-in {
    @apply border-t-2 border-gray-300 pt-4 w-full flex justify-center
  }

  .only-lg {
    @apply max-lg:hidden
  }

  .except-lg {
    @apply lg:hidden
  }

  .hero {
    @apply w-full h-dvh -mt-(--navbar-height) flex items-center justify-center min-h-fit max-lg:pb-10 max-lg:pt-[calc(var(--navbar-height)+15px)]
  }

  .hero-left {
    @apply flex flex-col gap-8 max-lg:items-center max-lg:w-fit
  }

  .hero-right {
    @apply max-lg:hidden relative pr-10
  }

  .hero-title {
    @apply font-ubuntu font-extrabold text-5xl lg:text-6xl max-lg:text-center
  }

  .hero-title-wrapper {
    @apply my-2 max-lg:mt-3 max-lg:mb-2 rotate-2 hover:rotate-0 origin-center transition-all w-fit
  }

  .hero-title-highlight-text {
    @apply my-0 border-4 border-black text-primary px-3 bg-white
  }

  .hero-description {
    @apply font-ubuntu font-medium text-gray-600 w-[70%] lg:text-lg max-lg:text-justify
  }

  .hero-five-stars-card {
    @apply absolute -top-12 -right-10
  }

  .intro {
    @apply w-full bg-white border-y-2 border-black h-dvh min-h-fit py-10
  }

  .intro-wrapper {
    @apply container h-full flex flex-col justify-center items-center gap-7
  }

  .h4 {
    @apply font-bold text-4xl
  }
  
  .grayed-text {
    @apply text-gray-600
  }

  .intro-description {
    @apply text-lg font-medium text-center
  }

  .cards-wrapper {
    @apply flex flex-wrap justify-center items-center gap-8 w-full mt-8
  }

  .intro-card-title {
    @apply font-bold text-black text-xl mt-4
  }

  .intro-card-description {
    @apply text-gray-500 font-medium text-sm
  }

  .category-card {
    @apply flex flex-col gap-3 items-center justify-center bg-white
  }

  .category-card-size {
    @apply size-80 max-lg:size-70
  }

  .category-card-wrapper {
    @apply hover:scale-102 hover:-translate-y-3 transition-all duration-500
  }

  .view-category-button {
    @apply bg-white text-black
  }

  .categories{
    @apply bg-custom-light-gray flex flex-col justify-center items-center min-h-fit h-dvh w-full
  }

  .categories-wrapper {
    @apply flex flex-col justify-center items-center gap-5 px-4 py-15
  }

  .top-rated-degree {
    @apply h-dvh min-h-fit border-y-2 border-black flex items-center justify-center w-full
  }
}